body {
    overflow-x: hidden;
}

#estados {
    position: relative;
    right: 20px;
}

textarea {
    position: relative;
    resize: vertical;
    height: 150px; 
    width: 300px; 
    display: inline;
    margin-left: 20px;
    
}

h3+textarea {
    position: relative;
    resize: vertical;
    height: 150px; 
    width: 300px; 
    display: inline;
    margin-left: 40px;
    margin-bottom: 40px;
    
}

h2 {
    margin-left: 20px;
    position: sticky;
}

h3{
    margin-left: 40px;
}

.datas {
    display: inline;
    margin-right: 16px;
    margin-left: 40px;
}

.data_box {
    display: inline;
    margin-left: 40px;
    margin-top: 5px;
    
}

/* http://www.instantshift.com/2018/05/11/create-tooltip-using-css/ */
.ajuda{
    position: relative;
    background-color: rgba(0,0,0,0.4);
    color: blue;
    padding: 1px 8px;
    border-radius: 100%;
    font-size: 20px;
    cursor: help;
    
}


.ajuda::before, .ajuda::after{
    display: none;
    position: absolute;
    left: 50%;
}

.ajuda::before{
    content: "";
    border-width: 10px 8px 08px;
    border-style: solid;
    border-color: rgba(0,0,0,0.3) transparent transparent transparent;
    top: -20px;
    margin-left: -8px;
}

.ajuda::after{
    content: "Caso ainda esteja no emprego, Não marque nada";
    background: rgba(68,128,70,0.3);
    top: -20px;
    transform: translateY(-100%);
    font-size: 14px;
    margin-left: -150px;
    width: 300px;
    border-radius: 10px;
    color: black;
    padding: 14px;
}

.ajuda:hover:before, .ajuda:hover::after{
    display: inline;
    position: absolute;
    left: 50%;
}

input {
    margin-left: 20px;
    margin-bottom: 15px;
    size: 1;
}

h3+input {
    margin-left: 40px;
}

select{
    
    margin-left: 40px;
}

.line {
    display: inline-block;
}